@import 'vcss.scss';

main {
  padding: 2rem 0;
  max-width: 600px;
}

form button ~ a,
nav a {
  margin-left: 0,5 rem;
}

body > header {
  text-align: center;
  padding: 1rem 0;
  margin: 0;
  nav a {
    margin: 0 0.5rem;
  }
}

a.active {
  text-decoration: underline;
}

#flash {
  text-align: center;
  padding: 0.5rem;
  background: $highlight;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  &:first-letter {
    text-transform: uppercase;
  }
  &:empty {
    display: none;
  }
}

.flex {
  display: flex;
  align-items: baseline;
  :first-child {
    flex-grow: 1;
  }
}

.list {
  border-bottom: 1px solid $light;
  padding: 1rem 0;
}

fieldset {
  width: 450px;
  margin: 50px;
  font-size: 18px;
  margin-top: 10rem;
}

#delbtn,
#updbtn {
  display: inline-block;
  visibility: hidden;
  font-size: larger;
}

#delbtn {
  color: darkred;
  margin-right: -2rem;
}

#updbtn {
  color: darkblue;
}

#input {
  padding: 10px;
  border: 0px 10px;
}

.fa {
  font-size: larger;
  visibility: visible;
  cursor: pointer;
}

h1 {
  margin-left: 1.2rem;
  text-align:center;
}

fieldset {
  border: 5px solid;
  border-color: rgba(0, 0, 255, .2);
  box-shadow: 7px 8px 2px 1px rgba(0, 0, 200, .1);
  background-color: lavender;
  width: 550px;
  font-size: 18px;
  margin-top: 10rem;
  margin: 50px;
}

.createtodo label {
  color: black;
  margin-left: 1.2rem
}

.createtodo input {
  margin-left: 1rem;
}

.flex button  {
  margin-left: 0.2rem;
  margin-right: 0.9rem;
  height: 40.5px;
  width: 69px;
  background-color: thistle;
  font-size: 16px;
  letter-spacing: 0.4px;
}

body {
  background: linear-gradient(45deg, lavenderblush, pink);
  height: 100vh;
}

.todolist {
  margin-left: -0.6rem;
  margin-bottom: 0.9rem;
}

.flex button:hover {
  background-color: lightSkyBlue;
  transition: 0.7s;
}

.square {
  background-color: #fff;
  width: 10px;
  height: 10px;
  position: relative;
  transform: rotate(45deg);
  display: inline-block;
  margin-right: 8px;
  background-color: darkmagenta;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 0.1rem;
}

fieldset {
  border: 5px solid;
  border-color: rgba(0, 0, 255, .2);
  box-shadow: 7px 8px 2px 1px rgba(0, 0, 200, .1);
  background-color: lavender;
  width: 550px;
  font-size: 18px;
  margin-top: 10rem;
  margin: 50px;
}

label {
  color: black;
}

li {
  margin-bottom: 0.8rem;
  margin-right: 1rem;
}

.checkboxdone {
  margin-top: -0.7rem
}

label {
  color: black;
}
